apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: image-data-service
  namespace: nucleus
  annotations:
    nginx.ingress.kubernetes.io/upstream-vhost: $service_name.$namespace.svc.cluster.local
    nginx.ingress.kubernetes.io/proxy-connect-timeout: "70000" # Should not go over 75s see https://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_connect_timeout
    nginx.ingress.kubernetes.io/proxy-read-timeout: "70000"
    nginx.ingress.kubernetes.io/proxy-next-upstream: "error timeout invalid_header http_502 http_503 http_504"
    nginx.ingress.kubernetes.io/proxy-next-upstream-tries: "3"
    nginx.ingress.kubernetes.io/proxy-buffering: "off"
    nginx.ingress.kubernetes.io/proxy-request-buffering: "off"
    nginx.ingress.kubernetes.io/proxy-buffer-size: "4k"
    nginx.ingress.kubernetes.io/proxy-body-size: "5g"
    nginx.ingress.kubernetes.io/use-regex: "true"
    nginx.ingress.kubernetes.io/cors-allow-headers: "DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Authorization,x-nucleus-timestamp,content-encoding,x-nucleus-instance-id,Sec-Fetch-Dest,Accept,Referer"
    # TODO
    # If you need to add more CSP info which is a certain deployment specific information,
    # please add it on deployment branch directly (e.g. hub/ hub3/ statrad etc.)
    nginx.ingress.kubernetes.io/configuration-snippet: |
      more_set_headers "X-Frame-Options: SAMEORIGIN";
      more_set_headers "Content-Security-Policy: default-src 'self' 'unsafe-inline' 'unsafe-eval' *.{{ deployDomain }} blob:; style-src 'self' 'unsafe-inline' 'unsafe-eval' https://fonts.googleapis.com; font-src 'self' 'unsafe-inline' 'unsafe-eval' https://fonts.gstatic.com https://themes.googleusercontent.com http://themes.googleusercontent.com; connect-src 'self' https://dc.services.visualstudio.com/v2/track https://*.{{ deployDomain }} ws://*.{{ deployDomain }} wss://*.{{ deployDomain}} ws://localhost:* wss://localhost:* http://localhost:* http://localhost-1:* http://localhost-2:* http://localhost-3:* https://nucleussupport.wpengine.com:* https://dc.services.visualstudio.com; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://www.google.com/recaptcha/ https://www.gstatic.com/recaptcha/ blob:; frame-src 'self' https://www.google.com/recaptcha/; img-src 'self' blob: data: https://localhost:* https://localhost-1:* https://localhost-2:* https://localhost-3:*{{ frameAncestors }}";
      more_set_headers "X-Content-Type-Options: nosniff";
      more_set_headers "Referrer-Policy: no-referrer";
      more_set_headers "Feature-Policy: geolocation 'none'; midi 'none'; sync-xhr 'none'; microphone 'none'; camera 'none'; magnetometer 'none'; gyroscope 'none'; speaker 'self'; fullscreen 'self'; payment 'none'";
    nginx.ingress.kubernetes.io/server-snippet: |
      ssl_stapling on;
      ssl_stapling_verify on;
      resolver 8.8.8.8 8.8.4.4;
    nginx.ingress.kubernetes.io/enable-cors: "true"
    nginx.ingress.kubernetes.io/cors-allow-headers: "DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Authorization,x-nucleus-timestamp,content-encoding,x-nucleus-instance-id,Sec-Fetch-Dest,Accept,Referer"
    kubernetes.io/ingress.class: "nginx"
  labels:
    app.kubernetes.io/name: image-data-service
    app.kubernetes.io/part-of: nucleus
spec:
  tls:
    - hosts:
      - {{ dnsPrefix }}.{{ deployDomain }}
      secretName: tls-certificate
    - hosts:
      - {{ dnsPrefix }}-1.{{ deployDomain }}
      secretName: tls-certificate
    - hosts:
      - {{ dnsPrefix }}-2.{{ deployDomain }}
      secretName: tls-certificate
    - hosts:
      - {{ dnsPrefix }}-3.{{ deployDomain }}
      secretName: tls-certificate
    - hosts:
      - "*.{{ deployDomain }}"
      secretName: tls-certificate
  rules:
  - host: {{ dnsPrefix }}.{{ deployDomain }}
    http:
      paths:
      - path: /(metadata|dicomArchive|imageFrame|study|cdromArchive|logs|monitor|api/dicomweb|study-uploads|sessions|remote|charset-encoding|test-charset-encoding|study-modification|study-api|study-notifications|study-information|attachment|workflow|structured-report|api/organizations|hipaaLogReports)
        backend:
          serviceName: image-data-service
          servicePort: 80
  - host: {{ dnsPrefix }}-1.{{ deployDomain }}
    http:
      paths:
      - path: /(metadata|dicomArchive|imageFrame|study|cdromArchive|logs|monitor|api/dicomweb|study-uploads|sessions|remote|charset-encoding|test-charset-encoding|study-modification|study-api|study-notifications|study-information|attachment|workflow|structured-report|api/organizations|hipaaLogReports)
        backend:
          serviceName: image-data-service
          servicePort: 80
  - host: {{ dnsPrefix }}-2.{{ deployDomain }}
    http:
      paths:
      - path: /(metadata|dicomArchive|imageFrame|study|cdromArchive|logs|monitor|api/dicomweb|study-uploads|sessions|remote|charset-encoding|test-charset-encoding|study-modification|study-api|study-notifications|study-information|attachment|workflow|structured-report|api/organizations|hipaaLogReports)
        backend:
          serviceName: image-data-service
          servicePort: 80
  - host: {{ dnsPrefix }}-3.{{ deployDomain }}
    http:
      paths:
      - path: /(metadata|dicomArchive|imageFrame|study|cdromArchive|logs|monitor|api/dicomweb|study-uploads|sessions|remote|charset-encoding|test-charset-encoding|study-modification|study-api|study-notifications|study-information|attachment|workflow|structured-report|api/organizations|hipaaLogReports)
        backend:
          serviceName: image-data-service
          servicePort: 80
  - host: "*.{{ deployDomain }}"
    http:
      paths:
      - path: /(metadata|dicomArchive|imageFrame|study|cdromArchive|logs|monitor|api/dicomweb|study-uploads|sessions|remote|charset-encoding|test-charset-encoding|study-modification|study-api|study-notifications|study-information|attachment|workflow|structured-report|api/organizations|hipaaLogReports)
        backend:
          serviceName: image-data-service
          servicePort: 80
---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: image-data-service-dicom
  namespace: nucleus
  annotations:
    nginx.ingress.kubernetes.io/upstream-vhost: $service_name.$namespace.svc.cluster.local
    nginx.ingress.kubernetes.io/proxy-http-version: "1.0" # Changing this property resulted in fixing the 502 errors read https://jira.statrad.com/browse/NIX-13213 to see the history
    nginx.ingress.kubernetes.io/proxy-connect-timeout: "10"
    nginx.ingress.kubernetes.io/proxy-read-timeout: "130s"
    nginx.ingress.kubernetes.io/proxy-buffering: "off"
    nginx.ingress.kubernetes.io/proxy-request-buffering: "off"
    nginx.ingress.kubernetes.io/proxy-buffer-size: "4k"
    nginx.ingress.kubernetes.io/proxy-body-size: "5g"
    nginx.ingress.kubernetes.io/enable-cors: "true"
    nginx.ingress.kubernetes.io/cors-allow-headers: "DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Authorization,x-nucleus-timestamp,content-encoding,x-nucleus-instance-id,x-nucleus-cdrom-file-size,x-nucleus-cdrom-file-path,x-nucleus-cdrom-file-timestamp,Sec-Fetch-Dest,Accept,Referer"
    kubernetes.io/ingress.class: "nginx"
  labels:
    app.kubernetes.io/name: image-data-service-dicom
    app.kubernetes.io/part-of: nucleus
spec:
  tls:
    - hosts:
      - {{ dnsPrefix }}.{{ deployDomain }}
      secretName: tls-certificate
    - hosts:
      - {{ dnsPrefix }}-1.{{ deployDomain }}
      secretName: tls-certificate
    - hosts:
      - {{ dnsPrefix }}-2.{{ deployDomain }}
      secretName: tls-certificate
    - hosts:
      - {{ dnsPrefix }}-3.{{ deployDomain }}
      secretName: tls-certificate
  rules:
  - host: {{ dnsPrefix }}.{{ deployDomain }}
    http:
      paths:
      - path: /(dicom|cdrom)
        backend:
          serviceName: image-data-service
          servicePort: 80
  - host: {{ dnsPrefix }}-1.{{ deployDomain }}
    http:
      paths:
      - path: /(dicom|cdrom)
        backend:
          serviceName: image-data-service
          servicePort: 80
  - host: {{ dnsPrefix }}-2.{{ deployDomain }}
    http:
      paths:
      - path: /(dicom|cdrom)
        backend:
          serviceName: image-data-service
          servicePort: 80
  - host: {{ dnsPrefix }}-3.{{ deployDomain }}
    http:
      paths:
      - path: /(dicom|cdrom)
        backend:
          serviceName: image-data-service
          servicePort: 80
