apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: chunk-frame-extraction
  namespace: nucleus
  labels:
    app.kubernetes.io/name: chunk-frame-extraction
    app.kubernetes.io/part-of: nucleus
spec:
  replicas: 12
  strategy:
    rollingUpdate:
      maxSurge: 2
      maxUnavailable: 0
  minReadySeconds: 5
  template:
    metadata:
      labels:
        app: chunk-frame-extraction
        deployment: {{ resourceGroup }}
      annotations:
        fluentbit.io/parser: nucleus
        linkerd.io/inject: enabled
    spec:
    # During load test and Performance Tuning we moved  *Chunk-frame-extraction* to use any node with avaliable hardware. This resulted into improvements in the ChunkJob processing and reduced the stress in the ingestion nodes improving in consequence the P10ChunkJob jobs.

    # nodeSelector:
    #   agentpool: ingestpool
      hostAliases:
      {% for mongo in mongos %}
      - ip: "{{ mongo.ipAddress }}"
        hostnames:
        - "{{ mongo.name }}"
      {% endfor %}
      containers:
      - name: chunk-frame-extraction
        image: {{ dockerRegistry }}{{ radconnectImage }}
        imagePullPolicy: IfNotPresent
        lifecycle:
          preStop:
            exec:
              command: ["/bin/bash", "-c", "sleep 120"] # This is to improve a graceful shutdown
        command:
        - node
        args:
        - "--expose-gc"
        - "--max-old-space-size=7168"
        - "main.js"
        resources:
          limits:
            cpu: "2"
            memory: 6Gi # We added this based on a conversation avaliable in (https://confluence.statrad.com/display/DevOps/K8s+nodes+and+services+resouces+configuration)
          requests:
            cpu: 250m
            memory: "100Mi"
        envFrom:
        - configMapRef:
            name: shared-config
        - configMapRef:
            name: chunk-frame-extraction-config
        env:
        - name: MONGO_URL
          valueFrom:
            secretKeyRef:
              name: mongo-secrets
              key: MONGO_URL
        - name: NUCLEUS_INGESTION_MONGO_URL
          valueFrom:
            secretKeyRef:
              name: mongo-secrets
              key: NUCLEUS_INGESTION_MONGO_URL
        - name: METEOR_SETTINGS
          valueFrom:
            secretKeyRef:
              name: processing-pipeline-secrets
              key: METEOR_SETTINGS
        - name: APP_INSIGHTS_KEY
          valueFrom:
            secretKeyRef:
              name: app-insights-secrets
              key: APP_INSIGHTS_KEY
      imagePullSecrets:
      - name: regcred
