apiVersion: v1
kind: Secret
metadata:
  name: azure-files-fluentd-secret
  namespace: logging
type: Opaque
data:
  azurestorageaccountname: {{ fluentdStorageAccount }}
  azurestorageaccountkey: {{ fluentdStorageAccountKey }}
